.place__image {
  grid-column: 1;
  grid-row: 2;
  width: 100%;
  align-self: start;
}

@media screen and (max-width: 425px) {
  .place__image {
    width: calc(100% + 32px);
    align-self: center;
  }
}
