.header {
  margin: 0 auto;
  max-width: 1184px;
  width: calc(100% - 96px);
  height: 52px;
  padding-top: 28px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  font-size: 24px;
  line-height: 1.17;
}

@media screen and (max-width: 768px) {
  .header{
    width: calc(100% - 48px);
  }
}

@media screen and (max-width: 425px) {
  .header{
    width: calc(100% - 32px);
    font-size: 18px;
    line-height: 1.11;
    height: 42px;
    padding-top: 16px;
  }
}
