.content {
  padding: 48px 0 92px;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 92px;
  max-width: 984px;
  width: calc(100% - 96px);
  margin: 0 auto;
}

@media screen and (min-width: 1280px) {
  .content {
    padding: 56px 0 92px;
  }
}

@media screen and (max-width: 1024px) {
  .content {
    width: 90.625%;
  }
}

@media screen and (max-width: 768px) {
  .content {
    width: calc(100% - 48px);
  }
}

@media screen and (max-width: 425px) {
  .content {
    width: calc(100% - 32px);
    padding: 45px 0 64px;
    row-gap: 64px;
  }
}
