.lead__image {
  width: 100%;
  font-size: 0;
  position: relative;
}

@media screen and (max-width: 768px) {
  .lead__image {
    width: calc(100% + 48px);
  }
}

@media screen and (max-width: 425px) {
  .lead__image {
    width: calc(100% + 32px);
  }
}
