@font-face {
  font-family: "Inter-Regular";
  font-style: normal;
  font-weight: 400;
  src: url("../../fonts/Inter-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Inter-Black";
  font-style: normal;
  font-weight: 900;
  src: url("../../fonts/Inter-Black.ttf") format("truetype");
}

.page {
  margin: 0 auto;
  padding: 0;
  max-width: 1280px;
  background-color: #2A2C2F;
  font-family: "Inter-Regular", sans-serif;
  color: #fff;
}
