.cover {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1184px;
  width: 100vw;
  padding-bottom: 62.5%;
  position: relative;
}

.cover:hover {
  cursor: pointer;
}
