.cover {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: calc(100% - 96px);
  position: relative;
  margin: 0 auto;
}

.cover:hover {
  cursor: pointer;
}
