.video-item__duration {
  margin: 0;
  margin-bottom: 12px;
  padding: 0;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.09;
  z-index: 2;
  order: -1;
  letter-spacing: 0.3em;
}
