.footer {
  max-width: 1184px;
  width: calc(100% - 96px);
  margin: 0 auto;
  padding-bottom: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}

@media screen and (max-width: 768px) {
  .footer {
    width: calc(100% - 48px);
  }
}

/* дополнительная точка перелома, т.к. меню наезжает на копирайт из-за недостаточной ширины на этом разрешении */
@media screen and (max-width: 740px) {
  .footer {
    flex-direction: column;
    align-items: flex-start;
    row-gap: 48px;
  }
}

@media screen and (max-width: 425px) {
  .footer {
    width: calc(100% - 32px);
  }
}
